/*========Seccion bunner========================*/

.banner_1 {
    padding: 25px 0;
}

.contenedor_banner {
    background-color: var(--color-footer-secundario);
    position: relative;
}

.contenedor_banner .img-bunner-1 {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contenedor_banner .img-bunner-1 img {
    width: 100%;
    height: auto;
    display: block;
}

.contenedor_banner .img-bunner-2 {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.contenedor_banner .img-bunner-2 .texto-banner {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
    padding-left: 3%;
}

.contenedor_banner .img-bunner-2 .texto-banner div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.destacado-2 {
    font-size: clamp(1.2rem, 4.5vw, 4rem);
}
.destacado { 
    color: var(--color-destacable);
}

.contenedor_banner .img-bunner-2 img {
    width: 50%;
    height: auto;
}

.contenedor_banner .img-bunner-3 {
    position: absolute;
    width: 20%;
    z-index: 15;
    top: 35%;
    left: 40%;
}

.contenedor_banner .img-bunner-3 img {
    width: 100%;
    height: auto;  
}

.contenedor_banner .img-bunner-4 {
    width: 40%;
    position: absolute;
    top: 42.15%;
    right: 0;
}

.contenedor_banner .img-bunner-4 img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .banner_1 {
        padding: 70px 0;
    }

    .contenedor_banner .img-bunner-1 {
        width: 75%;
    }

    .contenedor_banner .img-bunner-2 {
        width: 58%; /* ! */
        height: 45%; /* ! */
        top: 38%; /* ! */
        right: 0; /* ! */
        z-index: 10; /* ! */
    
    }
    
    .contenedor_banner .img-bunner-2 img {
        width: 50%; /* ! */      
    }
    
    .contenedor_banner .img-bunner-3 {
        width: 15%; /* ! */
        top: 58%; /* ! */
        left: 65%; /* ! */
    }
    
    
    .contenedor_banner .img-bunner-4 {
        width: 35%; /* ! */
        top: -12%; /* ! */
        right: 10%; /* ! */
    }
}

@media (min-width: 1900px) {
    .destacado-2 {
        font-size: clamp(1.2rem, 4.5vw, 6rem);
    }
}
/*========Fin Seccion bunner========================*/