.margin {
    margin: 5vw 1vw !important;
}

.contenedor-prod-row {
    position: relative;
}

.cierre-carrito {
    position:absolute;
    
}

.contenedor-productos {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:  2rem;
    justify-content: center;
    min-width: 60vw;
}

.contenedor-filtro-productos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.5rem;
    gap:0.9rem;
}

.contenedor-filtro {
    background-color: #D9D9D9;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.337);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem 0.5rem;
    width: 30vw;
}

.contenedor-titulo-filtro {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    align-self: start;
}
.contenedor-titulo-filtro h3 {
    font-size: clamp(1.15rem, 2.5vw, 3.1rem);
    font-family: var(--fuente-primaria);
    font-weight: 400;
    color: var(--color-dos);
}

.contenedor-filtro label {
    color: black;
    font-family: var(--fuente-parrafos); 
    font-size: clamp(0.9rem, 1.2vw, 1.6rem); 
}

.contenedor-filtro input {
    width: 100% !important;
}
.contenedor-row-filtro {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap:0.3rem;
    text-align: start;
}

.ancho-producto {
    max-width: 240px !important;
    min-width: 200px !important;
    width: 38vw !important;
}

@media (min-width: 480px) {

    .contenedor-filtro {
        width: 26vw;
    }
    .contenedor-productos {
        min-width: 58vw;
    }
    
}

@media (min-width: 601px) {
    .ancho-producto {
        min-width: 200px !important;
        width: 30vw !important;
    }
    .contenedor-filtro {
        width: 24vw;
    }
    .contenedor-productos {
        
        min-width: 63vw;
    }
    .contenedor-filtro-productos {
        gap:0.9rem;
    }
}

@media (min-width: 768px) {
    .contenedor-filtro h3 {
        font-size: clamp(1.15rem, 2.3vw, 3.1rem);
    }
    .ancho-producto {
        min-width: 200px !important;
        width: 22vw !important;
    }
    .contenedor-filtro {
        width: 18vw;
    }
    .contenedor-productos {  
        min-width: 72vw;
    }
    .contenedor-filtro-productos {
        gap:0.9rem;
    }
}

@media (min-width: 1024px) {
    .ancho {
        max-width: 150px;
    }
    .contenedor-titulo-filtro h3 {
        font-size: clamp(1.1rem, 1.8vw, 3rem);
    }
    .contenedor-row-filtro input,
    .contenedor-row-filtro select {
        width: 100%;
        height: 2rem;
    }
    .contenedor-productos {
        padding: 0.5rem 1.8rem !important; 
    }
    .contenedor-productos {
        min-width: 76vw;
    }
    .contenedor-filtro-productos {
        gap:0.9rem;
    }
}

@media (min-width: 1280px) {
    .contenedor-titulo-filtro h3 {
        font-size: clamp(1.1rem, 1.6vw, 3rem);
    }
    .contenedor-productos {
        min-width: 78vw;
    }
    .contenedor-filtro-productos {
        gap:0.9rem;
    }
}

@media (min-width: 1440px) {
    .contenedor-titulo-filtro h3 {
        font-size: clamp(1.1rem, 1vw, 2.8rem);
    }
    .contenedor-productos {
        min-width: 79vw;
    }
    .contenedor-filtro-productos {
        gap:0.9rem;
    }
}
