/* Importo fuentes */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/

/* ======Variables para colores====== */

:root {
    --color-uno    : #fff;
    --color-dos      : #000;
    --color-body    : #082011;
    --color-destacable  : #F69709 ;
    --color-destacable-dos  : #D58206; /* Boton de portada, boton de arrepentimiento en footer, borde superior del footer, bordes inferiores en imputs, boton agregar al carrito y botonseguir comprando*/
    --color-fuente-secundaria      : #2E2D2D; /* copyright en footer */
    --color-footer-primario : #0A2F35;
    --color-footer-secundario: #808080; /* copyright en footer */
}

/* ======Variables para fuentes====== */

:root {
    --fuente-primaria    : 'Kanit', sans-serif;  /* Titulos, banners, lebels, menu, titulos en footer */
    --fuente-parrafos  : 'Ubuntu', sans-serif; /* parrafos */
}

/*--------------------------------------------------------------
/** 2. Configuraciones generales
--------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html { /* definiendo un comportamiento global para toda la página. Incluye configuración de un color de fondo y una fuente predeterminada que se aplicará en todo el documento. */
    background-color: var(--color-uno);
    color: var(--color-uno);
    font-family: var(--fuente-parrafos);
}

body {
    background-color: var(--color-body);
    font-family: var(--fuente-parrafos);
    position: relative;
    
}

h1,
h2,
h3,
h4 {
    font-style: normal;
    font-weight: 300;
    font-family: var(--fuente-primaria); 
    color: var(--color-uno);
}

h3,
h4 {
    font-style: normal;
    font-weight: 300;
    font-family: var(--fuente-primaria); 
    color: var(--color-uno);
}

h1 {
    font-size: clamp(2.4rem, 4vw, 6rem);
}

h2 {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}

h3 {
    font-size: clamp(1rem, 1.5vw, 2.8rem);
}

h4 {
    font-size: clamp(0.9rem, 1.4w, 2.5rem);
}

p {
    font-family: var(--fuente-parrafos); 
    font-size: clamp(0.8125rem, 1.2vw, 2rem);
}


/*--------------------------------------------------------------
/** 2. Configuraciones básicas
--------------------------------------------------------------*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--color-dos);
    font-family: var(--fuente-primaria);
    font-weight: 300;
    font-size: 15px;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

/*Medidas para íconos*/
.iconos-respons {
    width: clamp(14px, 1.2vw, 50px);
    height: auto;
}

.icono {
    width: 25px;
    height: auto;
}

.icono2 {
    width: 30px;
    height: auto;
}
/*FIN Medidas para íconos*/

input, button {
    outline: none;
}

.btn-1 {
    border: none;
    text-align: center;
    border-radius: 5px 0 5px 0;
    width: 25%;
    height: 12%;
    background-color: var(--color-destacable-dos);
    color: var(--color-uno);
    font-size: clamp(0.8125rem, 1.2vw, 2rem);
    cursor: pointer;
}

/*--------------------------------------------------------------
/** 3. HEADER
--------------------------------------------------------------*/
header {
    padding-bottom: 25px;
    background-color: var(--color-body);
}

.logo img{
    width: 100px;
    height: auto;
}

/* Elementos que no aparecen en mobile */

#cliente,
.nav-categorias-desktop {
    display: none;
}

/* Para que aparezca el menu mobile */

.visible {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translateX(0) !important;
}

.estado {
    display: none;
}

.mostar {
    visibility: visible;
    opacity: 1;
}

.contenedor-menu-general {
    background-color: var(--color-uno);
    border-bottom: #000000 0.5px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem; 
    position: relative;
}

.contenedor-menu-principal {
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    height:calc(100vh - 56px);
    width: 80vw;
    min-width: 210px;
    max-width: 316px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    background-color: var(--color-uno);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s;
}

#header-menu-mobile {
    background-color: var(--color-destacable);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    position: relative;
}

#cierre {
    position: absolute;
    top:5%;
    right: -15%;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    text-align: center;
}

.buscar {
    width: 0px;
    height: 40px;
    padding: 0 20px;
    color:#000;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    transition: all .7s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}

.desaparece {
    display: none;
}

::placeholder {
    color: #b3b3b3;
}

.input-extendido {
    width: 100% !important; 
    opacity: 1 !important;
    visibility: visible !important;
}

.lupa {
    cursor: pointer;
    transition: 0.7s;
}


/* Carrito de compras mobile y desktop */

#carrito {
    cursor: pointer;
    position: relative;
    z-index: 5;
}

#carrito div {
    min-height: 20px;
    min-width: 20px; /*Para que se adapte al tamaño que abarca el numero de digitos*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 10;
    background-color: #D58206;
    padding: 0.2rem;
}

/*Propiedades para menú principal activan en mobile se modifican en desktop */

.nav-principal {
    flex: 1;
    width: 100%;
}

.nav-principal > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;    
}

.nav-principal ul > li {
    padding: 0.5rem;
    border-bottom: 0.3px solid rgb(201, 200, 200);
}

.nav-principal ul > li a {
    font-size: 16px;
    transition: all 0.5s;
}

.nav-principal ul > li a:hover {
    font-weight: 500;
}

/* Boton cliente del menú principal desktop */

#cliente > a:nth-child(1) {
    background-color: var(--color-destacable);
    border-radius: 5px;
    padding: 5px 20px;
    transition: all 0.5s;
}

#cliente > a:nth-child(1):hover, #cliente > a:nth-child(1):active{
    font-weight: 300;
}

/* Propiedades para submenú cliente en menu desktop */

.nav-contenedor-cliente {
    position: relative;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all .3s ease;
}

.mostrar-submenu-cliente {
    visibility: visible;
    opacity: 1;
    height: 100%;
}

.nav-cliente {
    position: absolute;
    top:40%;
    width: 180px;
    border: 1px solid var(--color-dos);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem !important;
}

.nav-cliente li {
    padding: 0 !important;
}

/* FIN Propiedades para submenú cliente en menu desktop */


/* Propiedades para submenú productos en menu mobile */

.link-productos {
    position: relative;
}

.nav-contenedor-categorias {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s grid-template-rows;
}

.mostrar-categorias {
    grid-template-rows: 1fr;
}

.nav-categorias {
    overflow: hidden;
}

.nav-categorias > li {
    border-bottom: none !important;
}

/* FIN Propiedades para submenú productos en menu mobile */


/* Propiedades para footer de menú mobile */

.login-register-contenedor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
    background-color: rgb(227, 223, 223);
}

.login-register-contenedor > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.login-register-contenedor > div a {
    font-size: 16px;
}

/* FIN Propiedades para footer de menú mobile */

/* Propiedades para menú secundario de categorias de menú desktop */

.nav-categorias-desktop {
    z-index: 99;
    width: 65%;
    background-color: #000;
    padding: 0.5rem;
    position: absolute;
    bottom: -35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.nav-categorias-desktop ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-categorias-desktop a {
    color: var(--color-uno);
    font-size: clamp(1.25rem, 1.2vw, 2rem);
}

/* Fin Propiedades para menú secundario de categorias de menú desktop */

/* Propiedades de section portada */

#portada {
    position: relative;
    background-color: var(--color-body);
}

#portada .img-1 {
    width: 100%;
    height: auto;
}

#portada > div:nth-child(2) {
    border: 1px solid rebeccapurple;
    /* position: absolute;
    top: 59%;
    left: 70%; */
    
}

#portada .img-propaganda {
    width: 35%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 60%;
}

#portada button {
    top: 70%;
    left: 65%;
    position: absolute;
}

/* Fin Propiedades de section portada */


@media (min-width: 768px) {

    /* ==========Header========== */
    header {
        padding-bottom: 50px;
    }
    
    .contenedor-menu-general {
        padding: 2rem 3rem;
    }

    .contenedor-menu-principal { 
        width: 40vw;
        height: calc(100vh - 56px);
    }

    .logo img {
        width: 300px;
        height: auto;
    }

    .btn-1 {
        width: 15%;
        height: 7%;
    }

    /*Ubicacion boton portada*/
    #portada button {
        top: 78%;
        left: 63%;
        position: absolute;
    }
    
    #portada .img-propaganda {
        width: 22%;
        top: 50%;
    }

}


/* 
=====================DESKTOP para HEADER===================== 
*/


@media (min-width: 1200px) {

    /* ==========Header========== */

    /* Elementos que aparecen en desktop */
    .nav-categorias-desktop, 
    #cliente {
        display: block;
    }

    .buscar {
        border: #000 1px solid;
    }


    .input-extendido-dos { /* Aplico estilos al input cuando el mouse pasa o hace focus sobre #header-menu-mobile */
        width: 35% !important; 
        visibility: visible;
        opacity: 1;
        transition: all 0.5s;
    }

    #icono-hamburguesa,
    #header-menu-mobile,
    .login-register-contenedor,
    #item-productos {
        display: none;
    }

    .logo {
        flex: 1; /* Para que tire el menú de navegación hacia la derecha */
    }

    .logo img {
        width: clamp(409px, 34%, 700px);
        height: auto;
    }

    .contenedor-menu-general{
        padding: 1.5rem 2rem;
        gap: 1.5rem;
    }

    .contenedor-menu-principal {
        position: initial;
        transform: initial;
        height: initial;
        width: initial;
        min-width: initial;
        max-width: initial;
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s, visibility 0.2s;
        box-shadow: none;
    }

    .menu-oculto {
        visibility: hidden;
        opacity: 0;
        
    }

    .nav-principal {
        flex: initial; /* Restablecer flex a su valor inicial */
        width: initial; /* Restablecer width a su valor inicial */
    }

    .nav-principal ul {
        display: flex;
        flex-flow: row wrap;
        font-size: 18px;
        gap: 1rem;
    }

    .nav-principal ul > li {
        border-bottom: initial;
        font-size: 18px;
    }

    .nav-principal ul > li a {
        font-size: clamp(1.25rem, 1.2vw, 2rem);
    }

    .estado {
        display: block !important;
    }
    
    .btn-1 {
        width: 12%;
        height: 6%;   
    }

    /* Ubicacion boton portada */
    #portada button {
        top: 75%;
        left: 66%;
        position: absolute;
    }

    #portada .img-propaganda {
        width: 23%;
    }
}

/*--------------------------------------------------------------
/** 3. FIN HEADER
--------------------------------------------------------------*/

/*--------------------------------------------------------------
/** 4. MAIN
--------------------------------------------------------------*/


/* ========Seccion categorias======================== */

main {
    text-align: center;
}

.contenedor {
    text-align: center; /*Para centrar horizontalmente*/
    padding: 25px ;
}

#categorias .cat-1 {
    margin-bottom: 3%;
    padding: 0;
    position: relative;
    overflow: hidden;
}

#categorias .cat-1 h2 {
    position: absolute;
    top: 60%;
    left: 70%;
    z-index: 5;
}

#categorias .cat-1::before {
    content: '';
    background: rgba(0, 0, 0, 0.469);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 3px;
    z-index: 1;
    left: 0;
    pointer-events: none;
    transition: 0.7s ease;
}

#categorias .cat-1:hover::before {
    background: rgba(0, 0, 0, 0.286);
} 

#categorias > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

#categorias .cat-2{
    position: relative;
    width: 48.5%; 
    height: auto;
}

#categorias .cat-2::before {
    content: '';
    background: rgb(0, 0, 0, 0.469);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 3px;
    z-index: 1;
    left: 0;
    pointer-events: none;
    transition: 0.7s ease;
}

#categorias .cat-2:hover::before {
    background: rgba(0, 0, 0, 0.286);
} 

#categorias .cat-2 h2 {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

#categorias .cat-3 {
    position: relative;
    width: 48.5%; 
    height: auto;
}

#categorias .cat-3 h2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

#categorias .cat-3::before {
    content: '';
    background: rgb(0, 0, 0, 0.469);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 3px;
    z-index: 1;
    left: 0;
    pointer-events: none;
    transition: 0.7s ease;
}

#categorias .cat-3:hover::before {
    background: rgba(0, 0, 0, 0.286);
} 

/* ========FIN seccion categorías========================*/


/* ========Seccion productos destacados======================== */

    /* Título--------->*/

.titulo {
    display: inline-flex; /*Para que el contenedor titulo abarque el ancho de su contenido y el .borde se adapte en proporcion a su tamaño*/
    flex-direction: column;
    text-align: center;
    padding-bottom: 40px;  
}

.titulo h2 {    
    margin-bottom: 0.2rem;
    
}

.estiloTitulo { /*Estilo del span */
    color: var(--color-destacable);
}

.borde {
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    height: 1px;
    margin: 10px auto 0;
    position: relative;
    width: 60%;
    padding-bottom: 25px;
}

.borde:before {
    content: "";
    height: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 2px;
    width: 45%;
    background-color: var(--color-destacable);
}

    /*Fin Título--------->*/

/* ========Seccion productos destacados======================== */

/*Articulos productos destacados--------->*/

.carrusel-deslizante {
    display: inline-block;
    margin: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 25px 0;
}

.contenedor-general-carrusel { /*Con javaScript hago que el alto de este contenedor se adapte al alto del contenedor de los articulos*/
    width: 100%;
    border: solid 2px blue;
    position: relative;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

#contenedor-productos-destacados { /* Contenedor padre de todos los articulos corresponde a la sección, abarcará el 100% del contenido del main*/
    display: flex;
    flex-flow: row nowrap; /*Evito que se pasen a una segunda linea los articulos*/
    position:absolute;
    left: 0;
    top: 50;
    width: 700%; /*Establezco este ancho para que el articulo visible en pantallas chicas ocupe el 100% del ancho de su contenedor padre y se ubique centralmente, se logra porque son 7 articulos*/
    justify-content: center;
}

.contenedor-producto { /*A este contenedor le aplico la propiedad order para cambiar el orden de visualizacion*/
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.producto { /* Este es el articulo y abarca 70% de su contenedor para valores menores a 768px, cuando aparecen en direccion columna*/
    text-align: center; 
    background-color: var(--color-uno);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 3%;
    width: 60%;
    min-width: 215px; /* Coloco un limite inferioir al ancho de este contenedor en la medida que crece el tamaño de pantalla hasta 767px*/ 
    height: auto;
    transition: transform 0.5s;
}

#contenedor-productos-destacados .row-img-iconos { /*Primer fila dentro del <articles>*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.3rem;
    width: 100%; /*Este contenedor abarcará el 100% de su padre directo <articles>"*/
}

.row-img-iconos .articulo { /*Imagen central del <articles>*/
    width: calc(100% - 50px); /*Fijo la proporcion de crecimiento , evito el desborde en su contenedor padre, y al mismo tiempo hago que el tamaño de la imagen crezca con el tamaño de pantalla, ya que su contenedor padre tiene un ancho del 100% (.row-img-iconos), y su abuelo del 70% (.producto), el limite del crecimiento se impondrá en el max-width de este ultimo (400px)*/
}

#contenedor-productos-destacados .row-img-iconos > img:nth-child(1),
#contenedor-productos-destacados .row-img-iconos > img:nth-child(3) {
    align-self: start; /*Ubico los iconos de este contenedor en el extremo superior*/
}

.valoracion {
    padding-bottom: 0.2em;
    display: flex;
    gap: 0.5rem;
}

.producto .valoracion > img {
    width: 15px;
    height: auto;
}

.producto .precio {
    display: flex;
    justify-content: space-evenly;
    gap: 0.5em;
    align-items: center;
    padding-bottom: 0.5em;
}

#contenedor-productos-destacados .producto h3,
#contenedor-productos-destacados .producto h4 {
    color: var(--color-dos);
    padding-bottom: 0.3rem;
}

.btn-2 {
    font-size: clamp(0.8125em, 1.2vw, 2em);
    border: none;
    border-radius: 3%;
    background-color: #000;
    color: var(--color-uno);
    padding: 5px 20px;
    cursor: pointer;
}

.btn-2:hover {
    background-color: transparent;
    border: #000 1px solid;
    color: #000;
}

.flecha-izquierda,
.flecha-derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    text-align: center;
    background: #fff;
    font-size: clamp(30px, 1.4vw, 60px);
    border-radius: 50%;
    position: absolute; /*Con respecto a .contenedor-general-carrusel , el alto de ese contenedor se adapta al alto del contenido por un script*/
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s;
    color: #000;
    overflow: hidden;
}

.flecha-izquierda:hover,
.flecha-derecha:hover {
    color: #fff;
    background: #000;
    border: 1px solid rgb(0, 0, 0);
} 

.flecha-izquierda {
    left: 1rem;
}


.flecha-derecha {
    right: 1rem;
}


@media (min-width: 601px) {


    #contenedor-productos-destacados {
        width: 350%; /*Esto es para que entren dos productos centralmente en la pantalla del dispositivo*/
    }
}

@media (min-width: 901px) {

    .borde {
        width:45%;
    }

    #contenedor-productos-destacados {
        width: 233.33%; /*Elijo que a partir de esta medidida y hasta 1200px entren tres productos centralmente*/
    }

    #contenedor-productos-destacados .producto:hover {
        border-bottom: solid 3px var(--color-destacable-dos);
        transform: translateY(-20px);
    }

    #contenedor-productos-destacados .producto .articulo {
        width: calc(80% - 50px); /*Fijo en un 100% el crecimiento de la imagen central*/
    }

    .producto .valoracion > img {
        width: 18px;
        height: auto;
    }

    
}

@media (min-width: 1400px) {


    #contenedor-productos-destacados {
        width: 175%; /*Elijo que a partir de esta medidida y hasta 1200px entren tres productos centralmente*/
    }

    
    #contenedor-productos-destacados .producto .articulo  {
        width: calc(100% - 80px); /*Modifico la propiedad por modificar el tamaño de los iconos de esta fila*/
    }

    /* icono {
        width: clamp(40px, 2.01vw, 60px);
        height: auto;
    } */

    .producto .valoracion > img {
        width: clamp(25px, 1.5vw, 60px);
        height: auto;
    }
    
}
/* Fin Seccion productos destacados */

    /*FIN Articulos productos destacados--------->*/
/* ========FIN Seccion productos destacados ========================*/

/*========Seccion bunner========================*/

.banner_1 {
    padding: 25px 0;
}

.contenedor_banner {
    background-color: var(--color-footer-secundario);
    position: relative;
}

.contenedor_banner .img-bunner-1 {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contenedor_banner .img-bunner-1 img {
    width: 100%;
    height: auto;
    display: block;
}

.contenedor_banner .img-bunner-2 {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.contenedor_banner .img-bunner-2 .texto-banner {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
    padding-left: 3%;
}

.contenedor_banner .img-bunner-2 .texto-banner h2 {
    font-size: clamp(1rem, 5vw, 4rem);
}

.contenedor_banner .img-bunner-2 .texto-banner div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.destacado-2 {
    font-size: clamp(1.3rem, 5vw, 3.5rem);
}
.destacado { 
    color: var(--color-destacable);
}

.contenedor_banner .img-bunner-2 img {
    width: 50%;
    height: auto;
}

.contenedor_banner .img-bunner-3 {
    position: absolute;
    width: 20%;
    z-index: 15;
    top: 35%;
    left: 40%;
}

.contenedor_banner .img-bunner-3 img {
    width: 100%;
    height: auto;  
}

.contenedor_banner .img-bunner-4 {
    width: 40%;
    position: absolute;
    top: 42.15%;
    right: 0;
}

.contenedor_banner .img-bunner-4 img {
    width: 100%;
    height: auto;
}

/*========Fin Seccion bunner========================*/

/*========Seccion carrusel de marcas========================*/

/*========Fin Seccion carrusel de marcas========================*/

@media (min-width: 768px) {

    .contenedor {
        padding: 50px;
    }

    .carrusel-deslizante {
        padding: 50px 0 70px 0;
    }


    /*========Seccion bunner========================*/

    .banner_1 {
        padding: 70px 0;
    }

    .contenedor_banner .img-bunner-1 {
        width: 75%;
    }

    .contenedor_banner .img-bunner-2 {
        width: 58%; /* ! */
        height: 45%; /* ! */
        top: 38%; /* ! */
        right: 0; /* ! */
        z-index: 10; /* ! */
    
    }
    
    .contenedor_banner .img-bunner-2 .texto-banner h2 {
        font-size: clamp(1rem, 3.8vw, 4rem); /* ! */
    }
    
    .contenedor_banner .img-bunner-2 img {
        width: 50%; /* ! */      
    }
    
    .contenedor_banner .img-bunner-3 {
        width: 15%; /* ! */
        top: 58%; /* ! */
        left: 65%; /* ! */
    }
    
    
    .contenedor_banner .img-bunner-4 {
        width: 35%; /* ! */
        top: -12%; /* ! */
        right: 10%; /* ! */
    }

    /*========Fin Seccion bunner========================*/
}
/* 
=====================DESKTOP para MAIN===================== 
*/

@media (min-width: 1200px) {
    
    /*Para el main*/


    /*========Seccion categorias========================*/

    

    #categorias .cat-1 h2 {
        top: 80%;
        left: 80%;
    }

    #categorias .cat-2 h2 {
        top: 12%;
    }

    /*========FIN Seccion categorias========================*/


    /*========Seccion bunner========================*/

    
    /*========Fin Seccion bunner========================*/
}

@media (min-width: 1900px) {
    .contenedor {
        padding: 100px;
    }


    .carrusel-deslizante {
        padding: 100px 0;
    }
}

/*--------------------------------------------------------------
/** 5. FOOTER
--------------------------------------------------------------*/

footer {
    border-top: 3px solid var(--color-destacable-dos);
    background-color: var(--color-footer-primario); 
}

footer a {
    color: var(--color-uno);
}
/*Elementos que no aparecen en version mobile*/

.primer-col,
.categorias,
.cuarta-col,
.mostrar-btn {
    display: none;
}

.primer-col img {
    width: 100%;
    height: auto;
}

.info-footer {
    padding: 0 1.3rem;
}

footer h4 {
    font-size: clamp(1.1rem, 1.5vw, 2.5rem);
}

footer p {
    font-size: clamp(0.9rem, 1.2vw, 2rem);
}

.menu-footer {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-footer-secundario);
}

.menu-footer a {
    font-size: clamp(1.1rem, 1.3vw, 2.5rem);
    cursor: pointer;
    color: var(--color-uno);
}

.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-bottom: 1px solid var(--color-footer-secundario);
    padding: 1rem 0;
}

.nosotros p {
    text-align: start;
}

.nosotros span {
    color: var(--color-destacable-dos)
}

.redes-sociales {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-footer-secundario);
}

.tercer-col {
    padding: 1rem 0;
}
.datos-contacto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid var(--color-footer-secundario);
    padding: 1rem 0;
}

.datos-contacto .direccion,
.datos-contacto .telefonos,
.datos-contacto .mail {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.datos-contacto .telefonos span {
    color: var(--color-destacable-dos);
}

.datos-contacto .mail  p{
    font-weight: 500;
}

.cont-boton-arrepentimiento-mobile {
    display: flex;
    padding: 1rem 0;
}

.btn-3 {
    border: none;
    text-align: center;
    border-radius: 5px 0 5px 0;
    width: auto;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid var(--color-destacable-dos);
    color: var(--color-destacable-dos);
    font-size: clamp(0.9rem, 1.0vw, 2rem);
    cursor: pointer;
}

.copyright div {
    background-color: var(--color-footer-secundario);
    color: var(--color-fuente-secundaria);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.copyright span {
    color: var(--color-uno);
}

/*------------Footer version Desktop------------*/

@media (min-width: 1200px) {

    footer .info-footer{
        display: flex;
        flex-direction: row;
    }

    footer .info-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /*Elementos que no aparecen en version desktop*/

    .cont-boton-arrepentimiento-mobile,
    .ver,
    .nosotros {
        display: none;
    }

    /*Elementos que aparecen en mobile*/

    
    .categorias {
        width:100%;
        display: block;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        border-bottom: 1px solid var(--color-footer-secundario);
        padding-bottom: 0.75rem;
    }

    .primer-col {
        width: 20%;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 1.5rem 0;
        gap: 1.5rem;
    }

    .segunda-col {
        width: 20%;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 1.5rem 0;
        gap: 0.75rem;
    }

    .tercer-col {
        padding: 1.5rem 0;
    }

    .cuarta-col {
        display: block;
        width: 20%;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        padding: 1.5rem 0;
        gap: 1.5rem;
    }

    .cuarta-col div {
        width: 100%;
        display: flex;
        flex-direction: column; 
        align-items: end;
        gap: 1rem;
    }

    .cuarta-col div a {
        font-size: clamp(0.9rem, 1.2vw, 2rem);
        color: var(--color-uno);
    }

    .redes-sociales {
        gap: 1.5rem;
    }

    .redes-sociales {
        padding-left: 1rem;
    }

    .menu-footer,
    .datos-contacto,
    .redes-sociales {
        border-bottom: initial;
    }
   
    .menu-footer {
        width: 100%;
        justify-content: space-between;
        padding: 0;
    }

    .cont-boton-arrepentimiento-mobile,
    .datos-contacto {
        padding: 0;
    }
    
}