.contenedor-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vw 10vw;
    padding: 1rem 0;
}

.contenedor-btn {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contenedor-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    justify-content: center;
}

@media (min-width: 768px) {
    .contenedor-btn {
        flex-direction: row;
    };
};